* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-image: url("https://www.teahub.io/photos/full/215-2159472_css-background-image-png-html-background-in-css.png");
  background-size: cover;

  align-items: center;
}

.card {
  width: 600px;
  height: 340px;
  background: rgb(20, 20, 20);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: relative;

  backdrop-filter: blur (15px);
}

.logo {
  height: 60px;
  width: 60px;
  position: absolute;
  top: 600;
}

.front {
  font-family: "Courier New", Courier, monospace;
  justify-content: center;
}

ul {
  margin: 0;
  width: 100%;
  position: absolute;
  bottom: 30px;
  left: 0;
  padding: 0 1%;
}
ul:after {
  content: "";
  clear: both;
}
li {
  width: 31.3333333333%;
  margin: 0 1%;
  float: left;
  padding: 10px;
  text-align: center;
  color: white;
}
li:before {
  position: absolute;
  top: -25px;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 30px;
  color: white;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1;
  margin-top: 110px;
  text-align: center;
  font-size: 40px;
}
h1 span {
  color: white;
  display: block;
  font-size: 0.45em;
  letter-spacing: 3px;
}
h1 i {
  font-style: normal;
  text-transform: none;
  font-family: "Times New Roman", Times, serif;
}
